/*css starts here*/
/*color background classes*/
.fill {
	height:125px;
	text-align:center;
	padding-top:10px;
}
.gold {
	background:rgba(245,166,35,0.7);
}
.red {
	background:rgba(204,0,51,0.7);
}
.gray {
	background:rgba(102,102,102,0.7);
}
.darkgray {
	background:rgba(28,28,28,0.7);
}
/*color img classes*/
#food {
	background-image: url("../images/GoldFood.jpg");
	background-size:cover;
}
#campusmap {
	background-image: url("../images/RedMap.jpg");
	background-size:cover;
}
#rso {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/BWRSOs.jpg");
	background-size:cover;
}
#events {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/BWEvents.jpg");
	background-size:cover;
}
#faculty {
	background-image: url("../images/GoldFaculty.jpg");
	background-size:cover;
}
#sports {
	background-image: url("../images/RedSports.jpg");
	background-size:cover;
}
#bus {
	background-image: url("../images/GoldBus.jpg");
	background-size:cover;
}
#campusinfo {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/BWSafety.jpg");
	background-size:cover;
}
/*color text hover classes*/

/*global css*/
* {
  box-sizing: border-box;
}
body {
	margin:0;
	padding:0;
	font-family:"Avenir", helvetica, arial, sans-serif;
	background:#E6E6E6;	
}
.page {
	background:#313131 url("../images/pixeld.png") repeat fixed;
	z-index:1;
}
.clear {
  clear: both;
}
.breadcrumbs {
	position:absolute;
	top:275px;
	left:20px;
	color:#cc0033;
	font-size:12px;
	font-weight:700;
}
.breadcrumbs a {
	text-decoration:none;
	color:#4a4a4a;
}
.breadcrumbs a.active {
	color:#cc0033;
}
header {
	background:#cc0033;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	height:75px;
	margin-top:-21px;
}
header h1 {
	line-height:75px;
}
.smallbar {
	width:100%;
	margin:0;
	padding:0;
	background:#e6e6e6;
	height:24px;
}
#datebox {
	margin:0;
	display:inline-block;
	width:33%;
	padding-left:20px;
	text-align:left;
	color:#cc0033;
	font-weight:600;
	font-size:14px;
	line-height:24px;
}
#clockbox {
	margin:0;
	display:inline-block;
	width:33%;
	text-align:center;
	color:#cc0033;
	font-weight:600;
	font-size:14px;
	line-height:24px;
}

h5.month {
	margin-top:-45px;
	margin-left: -120px;
	margin-bottom:5px;
	font-size:16px;
	color:#4A4A4A;
	letter-spacing:.5px;
}

h4.weekday {
	margin-left: -55px;
	margin-top:0px;
	text-transform:uppercase;
	font-size: 26px;
	color:#cc0033;
	letter-spacing:.5px;
}

.filter_box {
	background-color:#d8d8d8;
	padding:6px;	
}

h4.filter {
	margin:5px 0 5px 0;
	color:#cc0033;
}
.filter_list {
	font-size:12px;
}
.filter_list input[type=radio] {
    display: none;
}
.filter_list label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
}
.filter_list label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #d8d8d8;
    border:1px solid #979797;
}
input[type=radio]:checked + label:before {
	background-color:#cc0033;
}
.calendar_container {
	padding-top:0px;	
}
.topfilters {
	text-align:center;
}
.cal_filter {
	display:inline-block;
	text-align:center;
	margin-top:0;
	margin-bottom:20px;
	-webkit-padding-start: 0px;
}
.cal_filter a{
	text-decoration:none;
	color:#9b9b9b;
	border-right:solid 2px #cc0033;
	font-size:12px;
}
.cal_filter a.active {
	color:black;
}
.cal_filter a:last-child {
	border-right:solid 0px;
}
.cal_filter a li {
	width:50px;
	margin:0;
	padding:0;
	text-align:center;
	list-style-type:none;
	display:inline-block;
}
p.event_headline {
	font-size:18px;
	font-weight:bold;
	color:#4A4A4A;	
	margin-top:0px;
}

p.event_time {
	font-size:14px;
	margin-bottom: 0px;
}

p.event_location {
	font-size:14px;
	margin-top:10px;
}

.horizontal_line {
	border-bottom:8px solid #9B9B9B;	
}

#weatherbox {
	margin:0;
	display:inline-block;
	width:31.75%;
	padding-right:20px;
	text-align:right;
	color:#cc0033;
	font-weight:600;
	font-size:14px;
	line-height:24px;
}
.center {
	text-align:center;
	color:#cc0033;
}
.centermonth {
	text-align:center;
	color:black;
	padding:0;
	margin:0;
	font-size:32px;
}
h1.centermonth span {
	font-size:18px;
	line-height:18px;
	color:#9b9b9b;
	cursor:pointer;
}
.focus {
	margin:0;
	height:150px;
	background:#F5A623;
	text-align:right;
	padding-right:50px;
	padding-top:30px;
}
.focus h2 {
	margin-top:0;
	margin-bottom:0;
	color:#cc0033;
	font-size:36px;
}
.focus h4 {
	margin-top:0;
	color:#F8E71C;
	font-style:italic;
	font-weight:400;
}
.buttonbar {
	background:#cc0033;
	height:20px;
	margin-bottom:70px;
}
.bdbtn {
	position:absolute;
	cursor:pointer;
	top:220px;
	left:0;
	right:0;
	width:80px;
	height:80px;
	border-radius:150px;
	background:#fff url(../images/paw.gif) no-repeat center center;
	background-size:65px;
	margin:0 auto;
	text-align:center;
	z-index:300;
}
.fill img.icon {
	width:50px;
	height:auto;
	margin:0 auto;
	z-index:900;
}
.fill h3 {
	padding:0;
	margin:0;
	color:#fff;
	text-transform:uppercase;
}
footer {
	color:#fff;
	text-align:center;
}

.calsquare {
	font-size:60px;
	color:white;
	font-weight:bold;
	padding-top:10px;
	width:75px;
	height:75px;
	background-color:#CC0033;	
}

.bulldog_ring {
	background:rgba(255,255,255,0.4);
    border: 3px solid #fff;
    border-radius: 150px;
    height: 100px;
    width: 100px;
	margin:0 auto;
    position: absolute;
    top:210px;
	left:0;
	right:0;
	z-index:299;
}
.bulldog_ring{
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite
}
@-webkit-keyframes pulsate {
    0% { width:100px;height: 100px; opacity: 0.0}   
    50% { width:100px;height: 100px; opacity: 1.0}
    100% { width:100px;height: 100px;  opacity: 0.0}
}
.bulldog_ring2 {
    border: 3px solid #fff;
    border-radius: 150px;
    height: 125px;
    width: 125px;
	margin:0 auto;
    position: absolute;
    top:198px;
	left:0;
	right:0;
	z-index:298;
}
.bulldog_ring2{
    -webkit-animation-name: pulsate2;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite
}
@-webkit-keyframes pulsate2 {
    0% { width:125px;height: 125px; opacity: 0.0}   
    50% { width:125px;height: 125px; opacity: 1.0}
    100% { width:125px;height: 125px;  opacity: 0.0}
}

#overlay {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:rgba(74,74,74,0.8);
}
#overlay h2 {
	text-align:center;
	color:#fff;
	font-size:225%;
	font-weight:500;
	margin-bottom:0px;
}
.nav_bottom {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
#overlay .fill {
	height:50px;
	padding-top:10px;
}
#overlay .fill img.icon {
	width:25px;
}
.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
.buttonbar {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
}
.boxed {
	width:70%;
	margin:0 auto;
	text-align:center;
	height:80px;
	margin-bottom:10px;
}
.boxed h5 {
	color:#fff;
	font-weight:500;
	font-size:16px;
	line-height:20px;
	vertical-align:middle;
	padding-top:20px;
}
/* grid system */
.row:after {
	content:"";
	display:table;
	clear:both;
}
[class*='col-'] {
  float: left;
}
.col-margin {
	width:5.555%
}
.col-half {
	width:50%;
}
.col-1 {
	width:11.111%;
}
.col-2 {
	width:22.222%;
}
.col-3 {
	width:33.333%;
}
.col-4 {
	width:44.444%;
}
.col-5 {
	width:55.555%;
}
.col-6 {
	width:66.666%;
}
.col-7 {
	width:77.777%;	
}
.col-8 {
	width:88.888%;
}
.col-9 {
	width:100%;
}